{% extends "index.html" %}
{% block content %}

        <div class="fix-section">
                <div class="row">
                        <section class="column">
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="pubg"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>

                        </section>
                        <section class="column">
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                        </section> 
                        <section class="column">
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="pubg"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                        </section>
                        <section class="column">
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Zappa.jpg" style="width:100%" alt="Zappa"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/beats.jpg" style="width:100%" alt="beats"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/wow.jpg" style="width:100%" alt="wow"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/PUBG.jpg" style="width:100%" alt="PUBG"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/csgo.jpg" style="width:100%" alt="csgo"></a>
                                <a href="gamefeed.html"><img src="../static/assets/images/Tortura.jpg" style="width:100%" alt="Tortura"></a>
                        </section> 
                </div>
        </div>
        <div class="loadmore"><a href="#"><p>Load more...</p></a></div>

{% endblock %}