{% extends "index.html" %}
{% block content %}

        <div>
                <div class="m-section"></div>
                <div class="nrow">
                        <section class="ncolumn">
                                <div class="box1"><h2 class="question"><label  for="Post">
                                                        <input type="text" placeholder="What's on your mind?" name="Post" >
                                                </label></h2></div>
                                <div class="box2">
                                        <div>
                                                <img class="piconTortura" src="../static/assets/images/Zappa.jpg" alt="zappa">
                                                <p class="pDescribe">Posted by <span>Marvelyko</span> 1 hour ago</p>
                                        </div>
                                        <div class="pHeader">First Unreal Post </div>
                                        <hr>
                                        <p class="pText">Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions <span>here</span>.</p>
                                        <hr>
                                        <div class="pReact">
                                                <a href="#"><div class="react">
                                                <img src="../static/assets/images/like.png" alt="like">
                                                <p>Like</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/comment.png" alt="comment">
                                                <p>Comment</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/gift.png" alt="gift">
                                                <p>Give award</p></div></a>
                                        </div>
                                </div>
                                <div class="box2">
                                        <div>
                                                <img class="piconTortura" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p class="pDescribe">Posted by <span>Marvelyko</span> 1 hour ago</p>
                                        </div>
                                        <div class="pHeader">First Unreal Post </div>
                                        <hr>
                                        <p class="pText">Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions  <span>here</span>.</p>
                                        <hr>
                                        <div class="pReact">
                                                <a href="#"><div class="react">
                                                <img src="../static/assets/images/like.png" alt="like">
                                                <p>Like</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/comment.png" alt="instagram">
                                                <p>Comment</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/gift.png" alt="twitter">
                                                <p>Give award</p></div></a>
                                        </div>
                                </div>
                                <div class="box4"><p class="bookad">advertisment</p></div>
                                <div class="box2">
                                        <div>
                                                <img class="piconTortura" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p class="pDescribe">Posted by <span>Marvelyko</span> 1 hour ago</p>
                                        </div>
                                        <div class="pHeader">First Unreal Post </div>
                                        <hr>
                                        <p class="pText">Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions <span>here</span>.</p>
                                        <hr>
                                        <div class="pReact">
                                                <a href="#"><div class="react">
                                                <img src="../static/assets/images/like.png" alt="like">
                                                <p>Like</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/comment.png" alt="instagram">
                                                <p>Comment</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/gift.png" alt="twitter">
                                                <p>Give award</p></div></a>
                                        </div>
                                </div>
                                <div class="box2">
                                        <div>
                                                <img class="piconTortura" src="../static/assets/images/Zappa.jpg" alt="zappa">
                                                <p class="pDescribe">Posted by <span>Marvelyko</span> 1 hour ago</p>
                                        </div>
                                        <div class="pHeader">First Unreal Post </div>
                                        <hr>
                                        <p class="pText">Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions Hello guys, Today we’re shipping an optional beta branch of CS:GO with changes that are part of our continuing fight against cheating. To help out, you can opt in to the beta by following the instructions <span>here</span>.</p>
                                        <hr>
                                        <div class="pReact">
                                                <a href="#"><div class="react">
                                                <img src="../static/assets/images/like.png" alt="like">
                                                <p>Like</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/comment.png" alt="instagram">
                                                <p>Comment</p></div></a>
                                                <div class="p-line"></div>
                                                <a href="#"><div class="react"><img src="../static/assets/images/gift.png" alt="twitter">
                                                <p>Give award</p></div></a>
                                        </div>
                                </div>
                                <div class="loadmore"><a href="#"><p>Load more...</p></a></div>

                        </section>
                        <section class="nncolumn">
                                <div class="box6 disnone">
                                        <h2 class="auThText" ><span class="gH" >gamehub</span> <span class="pF" >profile</span></h2>
                                                <form action="authorise.php" method="POST"></form>
                                        <div class="Acontainer">
                                                <label for="uName">
                                                        <input type="text" placeholder="Email" name="Uname" >
                                                </label>
                                                <label for="password">
                                                        <input type="password" placeholder="Password" name="password" >
                                                </label>
                                                <a href="main-page.html"><button type="submit" class="submit" >sign in</button></a>
                                                <div class="remember"><label>
                                                        <input type="checkbox"  name="remember">Remember me
                                                </label></div>
                                                <hr>
                                                        <h3>Or sign in with:</h3>
                                                <div class="social">
                                                        <img src="../static/assets/images/googlelogin.svg" alt="google login">
                                                        <img src="../static/assets/images/fblogin.svg" alt="facebook login">

                                                </div>
                                        </div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="mTime">23:00 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <p class="mTime">23:30 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box8"></div>
                                <div class="box9"></div>

                        </section> 
                </div>
        </div>

{% endblock %}