{% from 'macros.html' import nav_builder,post_builder %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Social Media Platfrom for Gamers! Singup Free! Hold championships and get prizes.">
        <meta name="keywords" content="PUBG, CS:Go, World of War, Gamers, Championships">
        <meta name="author" content="Karlo Tevzadze">
        <meta property="og:title" content="GAMEHUB" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://marvelyko.github.io/gamehub.ge/index.html"/>
        <meta property="og:image" content="">
        <meta property="og:description" content="Social Media Platfrom for Gamers! Singup Free! Hold championships and get prizes." />
        <title>GAMEHUB</title>
        <link rel="stylesheet" type="text/css" href="../static/assets/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/assets/css/fonts.css">
<!--        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/reset.css') }}">-->
<!--        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}">-->
<!--        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/fonts.css') }}">-->
        <link rel="stylesheet" type="text/css" href="url_for('static',filename='css/reset.css')}}">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/fonts.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
        <header>
                <div class="header">
                        <div class="header-block">
                                <a href="index.html" class="logo">gamehub</a>
                                <div>
                                        <ul class="header-ul">
                                                <li class="flex searchlogo"><img src="{{ url_for('static', filename='images/search.svg') }}" alt="search"></li>
                                                <li class="flex donate"><a class="donation" href="#">donate</a></li>
                                                <li class="flex eng">eng <img src="{{ url_for('static', filename='images/Polygon3.svg') }}" alt="triangle"></li>
                                                <li ><a href='registration.html'><img class="useravatar" src="{{ url_for('static', filename='images/useravatar.png') }}" alt="avatar"></a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="header-2">
                        <div class="header-block">
                                <div>
                                        <ul class="header-ul">
                                                <li ><a href='registration.html'><img class="useravatar" src="{{ url_for('static', filename='images/useravatar.png') }}" alt="avatar"></a></li>
                                                <li class="flex searchlogo"><img src="{{ url_for('static', filename='images/search.svg') }}" alt="search"></li>
                                                <li class="logo-2"><a href="index.html" class="logo">gamehub</a></li>
                                                <li class="flex eng">eng <img src="{{ url_for('static', filename='images/Polygon3.svg') }}" alt="triangle"></li>
                                                <li class="burger"><a href=""></a>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <nav class="navigation">
                        <ul class="nav-ul">
                                <li class="nav-li">{{nav_builder('navbar.categories', 'categories')}}</li>
                                <li class="nav-li">{{nav_builder('navbar.championship', 'championship')}}</li>
                                <li class="nav-li">{{nav_builder('navbar.matches', 'matches')}}</li>
                        </ul>
                        
                </nav>
        </header>

        {% block content %}

        <div>
                <div class="m-section"></div>
                <div class="nrow">
                        <section class="ncolumn">
                                <div class="mainDiv">
                        <!--title-->
                                <div class="post-title">
                                        <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Create a Post</a>
                                        <a href="#"><i class="fa fa-file-image-o" aria-hidden="true"></i>Photo/Video Album</a>
                                        <p><i class="fa fa-times" aria-hidden="true"></i></p>
                                </div>
                                <div id="post-body">
                                <!--img and textarea-->
                                <form action="authorise.php" method="POST"></form>
                                <label for="pTitle">
                                        <input class="p-Title" type="text" placeholder="Title" name="pTitle" >
                                </label>
                                        <div class="imtcontainer">
                                                <div class="img">
                                                        <img src="http://themarketmogul.com/wp-content/uploads/avatars/3321/cb72c2d6008ea815d74b7f27d1131a26-bpfull-180x180.jpg">
                                                </div>
                                                <div class="textarea">
                                                        <textarea onkeyup="InputAdjust(this)" placeholder="what's on you mind?"></textarea>
                                                </div>
                                        </div>
                        
                        
                                <div class="post-line">
                        
                                <div class="post-colors">
                        <span style="background-color: #e8eaee"></span>
                        <span style="background-color: #fcd85d"></span>
                        <span style="background-color: #f25467"></span>
                        <span style="background-color: #f25467"></span>
                        <span style="background-color: #10aaff"></span>
                        <span style="background-color: #488ee8"></span>
                        <span style="background-color: #5a3be2"></span>
                        <span style="background-color: #5e6574"></span>
                        </div>
                                        <a href='#'><i class="fa fa-smile-o" aria-hidden="true"></i></a>
                        </div>
                        
                        
                        
                        <!--icons-->
                        <div class="post-icons">
                                <div class="post-photos">
                                
                                <a href="#">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                Photo/Video</a>
                        </div>
                        
                        <div class="feeling">
                        <a href='#'>
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                                Felling/Activity</a>
                        </div>
                        
                        <div class="post-more">
                        <a href="">
                                <span></span>
                                <span></span>
                                <span></span>
                                </a>
                        </div>
                        
                        <div style="display: none" class="checkin">
                        <a href='#'>
                                <i style="color: #f42a67;" class="fa fa-map-marker" aria-hidden="true"></i>
                                Check in</a>
                        </div>
                        
                        <div style="display: none;" class="tagfriend">
                        <a href='#'>
                        <i style="color: #90c0d5" class="fa fa-user-plus" aria-hidden="true"></i>
                                Tag Friend</a>
                        </div>
                        
                        <div style="display: none;" class="live">
                        <a href='#'>
                        <i style="color: #fa3e3e" class="fa fa-video-camera" aria-hidden="true"></i>
                                Live Video</a>
                        </div>
                        
                        
                        <div style="display: none;" class="post-back">
                        <a href='#'>
                        <i style="color: #f7923c" class="fa fa-fonticons" aria-hidden="true"></i>
                                Background Color</a>
                        </div>
                        
                        <div style="display: none;" class="post-button-footer">
                        <a href="#">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        
                        Add friends except..<i class="fa fa-caret-down"></i>
                        </a>
                        
                                <a href="">Post</a>
                        </div>
                        
                        </div>
                        </div>
                        
                        </div>

                                {% for post in posts %}
                                        post_builder(post)
                                {% endfor %}

                                <div class="box4"><p class="bookad">advertisment</p></div>

                                <nav aria-label="Page navigation example">
                                  <ul class="pagination justify-content-center">
                                     {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                                          {% if blog_posts.page == page_num %}
                                              <li class="page-item disabled">
                                                  <a class="page-link" href="{{ url_for('core.index',page=page_num)}}">{{ page_num }}</a>
                                              </li>
                                          {% else %}
                                              <li class="page-item ">
                                                  <a class="page-link" href="{{ url_for('core.index',page=page_num)}}">{{ page_num }}</a>
                                              </li>
                                          {% endif %}

                                      {% endfor %}
                                  </ul>
                                </nav>

                        </section>
                        <section class="nncolumn">

                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="mTime">23:00 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <p class="mTime">23:30 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box8"></div>
                                <div class="box9"></div>
                        </section>
                </div>
        </div>

        {% endblock %}

        <footer>
                <div class="footer">
                        <div class="contain">
                        <div class="col">
                                <h3>gamehub</h3>
                        </div>
                        <div class="col">
                                <h3>content</h3>
                                <ul>
                                        <a href="categories.html"><li>categories</li></a>
                                        <a href="pubg-championship.html"><li>championship</li></a>
                                        <a href="matches.html"><li>matches</li></a>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>help</h3>
                                <ul>
                                        <li>support</li>
                                        <li>FAQ</li>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>company</h3>
                                <ul>
                                        <li>about</li>
                                        <li>contact us</li>
                                        <li>affilation</li>
                                        <li>plans</li>
                                </ul>
                        </div>
                        <div class="col social">
                                <h3>social media</h3>
                                <ul>
                                        <a href="www.facebook.com"><li><img src="{{ url_for('static', filename='images/Facebook.svg') }}" alt="facebook"></li></a>
                                        <a href="www.instagram.com"><li><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="instagram"></li></a>
                                        <a href="www.twitter.com"><li><img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="twitter"></li></a>
                                </ul>
                        </div>
                        </div>
                </div>
                <hr>
                <div class="copyright">Copyright © 2010-2020 Freepik Company S.L. All rights reserved.</div>

        </footer>
</body>
</html>