{% extends "index.html" %}
{% block content %}

        <div class="m-section">
                <div>
                        <div class="m-g-Header">pubg mobile</div>
                        <div class="m-g-boxes">
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-left"></div></a>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-right"></div></a>
                                </div>
                        </div>
                </div>
                <div>
                        <div class="m-g-Header">cs:go</div>
                        <div class="m-g-boxes">
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-left"></div></a>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-right"></div></a>
                                </div>
                        </div>
                </div>
                <div>
                        <div class="m-g-Header">world of war</div>
                        <div class="m-g-boxes">
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-left"></div></a>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes disnone">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="matches-boxes">
                                        <h3>Feature match</h3>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Tortura.jpg" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="m-mTime">23:00 <br> Today</p>
                                        <div class="m-tSpace">
                                                <img class="ticons" src="../static/assets/images/Zappa.jpg" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="m-slider">
                                        <a href="#"><div class="triangle-right"></div></a>
                                </div>
                        </div>
                </div>
                </div>                
        </div>
        <div class="loadmore"><a href="#"><p>Load more...</p></a></div>

{% endblock %}