{% extends "index.html" %}
{% block content %}

        <div class="fix-section">
                <div class="ch-row">
                        <section class="ch-column1">
                                <div class="ch-nav-header"><h2>game leagues</h2></div>   
                                <ul class="ch-league-ul">
                                        <li class="ch-league-li"><a href="pubg-championship.html">
                                                <img src="../static/assets/images/PUBG.jpg" alt="PUBG">
                                                <p>PUBG</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="wow-championship.html">
                                                <img src="../static/assets/images/wow.jpg" alt="wow">
                                                <p>World of War</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="csgo-championship.html">
                                                <img src="../static/assets/images/csgo.jpg" alt="csgo">
                                                <p>CS:GO</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="pubg-championship.html">
                                                <img src="../static/assets/images/PUBG.jpg" alt="PUBG">
                                                <p>PUBG</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="wow-championship.html">
                                                <img src="../static/assets/images/wow.jpg" alt="wow">
                                                <p>World of War</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="csgo-championship.html">
                                                <img src="../static/assets/images/csgo.jpg" alt="csgo">
                                                <p>CS:GO</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="pubg-championship.html">
                                                <img src="../static/assets/images/PUBG.jpg" alt="PUBG">
                                                <p>PUBG</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="wow-championship.html">
                                                <img src="../static/assets/images/wow.jpg" alt="wow">
                                                <p>World of War</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="csgo-championship.html">
                                                <img src="../static/assets/images/csgo.jpg" alt="csgo">
                                                <p>CS:GO</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="pubg-championship.html">
                                                <img src="../static/assets/images/PUBG.jpg" alt="PUBG">
                                                <p>PUBG</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="wow-championship.html">
                                                <img src="../static/assets/images/wow.jpg" alt="wow">
                                                <p>World of War</p>
                                        </a></li>
                                        <li class="ch-league-li"><a href="csgo-championship.html">
                                                <img src="../static/assets/images/csgo.jpg" alt="csgo">
                                                <p>CS:GO</p>
                                        </a></li>
                                </ul>                             
                        </section>
                        <section class="ch-column2">
                                <div>
                                        <div class="ch-pic-wow"></div>
                                        <div class="ch-Header">
                                                <h1>w.o.w champion league</h1>
                                                <p>world</p>
                                                <div><p>20/21</p><img src="../static/assets/images/l-triangle.svg" alt="triangle"></div>
                                        </div>
                                </div>
                                <h2>knockout stage</h2>
                                
                                <section id="bracket">
                                <div class="container">
                                <div class="split split-one">
                                        <div class="round round-one current">
                                                <div class="round-details">Round 1<br/><span class="date">August 16</span></div>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>                   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND ONE -->

                                        <div class="round round-two">
                                                <div class="round-details">Round 2<br/><span class="date">August 18</span></div>                 
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND TWO -->
                                        
                                        <div class="round round-three">
                                                <div class="round-details">Round 3<br/><span class="date">August 22</span></div>                 
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND THREE -->                
                                </div> 

                        <div class="champion">
                                        <div class="semis-l">
                                                <div class="round-details">west semifinals <br/><span class="date">August 26-28</span></div>             
                                                <ul class ="matchup championship">
                                                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                </ul>
                                        </div>
                                        <div class="final">
                                                <i class="fa fa-trophy"></i>
                                                <div class="round-details">championship <br/><span class="date">August 30 - Apr. 1</span></div>          
                                                <ul class ="matchup championship">
                                                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                </ul>
                                        </div>
                                        <div class="semis-r">           
                                                <div class="round-details">east semifinals <br/><span class="date">August 26-28</span></div>             
                                                <ul class ="matchup championship">
                                                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                                                </ul>
                                        </div>  
                                </div>


                                <div class="split split-two">


                                        <div class="round round-three">
                                                <div class="round-details">Round 3<br/><span class="date">August 22</span></div>                                         
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND THREE -->        

                                        <div class="round round-two">
                                                <div class="round-details">Round 2<br/><span class="date">August 18</span></div>                                         
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                                                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND TWO -->
                                        <div class="round round-one current">
                                                <div class="round-details">Round 1<br/><span class="date">August 16</span></div>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>                   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>   
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>
                                                <ul class="matchup">
                                                        <li class="team team-top">Tortura<span class="score">0</span></li>
                                                        <li class="team team-bottom">Zappa<span class="score">0</span></li>
                                                </ul>                                                                           
                                        </div>  <!-- END ROUND ONE -->                                          
                                </div>
                                </div>
                                </section>
                        </section> 
                       <!--  <section class="ch-column3">
                                
                        </section> -->
                
        </div>
        </div>

{% endblock %}