{% from 'macros.html' import nav_builder,post_builder %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Social Media Platfrom for Gamers! Singup Free! Hold championships and get prizes.">
        <meta name="keywords" content="PUBG, CS:Go, World of War, Gamers, Championships">
        <meta name="author" content="Karlo Tevzadze">
        <meta property="og:title" content="GAMEHUB" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://marvelyko.github.io/gamehub.ge/index.html"/>
        <meta property="og:image" content="">
        <meta property="og:description" content="Social Media Platfrom for Gamers! Singup Free! Hold championships and get prizes." />
        <title>GAMEHUB</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
       <script src="{{url_for('static',filename='/js/post.js')}}"></script>
</head>
<body>
        <header>
                <div class="header">
                        <div class="header-block">
                                <a href="index.html" class="logo">gamehub</a>
                                <div>
                                        <ul class="header-ul">
                                                <li class="flex searchlogo"><img src="{{ url_for('static', filename='images/search.svg') }}" alt="search"></li>
                                                <li class="flex donate"><a class="donation" href="#">donate</a></li>
                                                <li class="flex eng">eng <img src="{{ url_for('static', filename='images/Polygon3.svg') }}" alt="triangle"></li>
                                                <li ><a href='/auth'><img class="useravatar" src="{{ url_for('static', filename='images/useravatar.png') }}" alt="avatar"></a></li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="header-2">
                        <div class="header-block">
                                <div>
                                        <ul class="header-ul">
                                                <li ><a href='registration.html'><img class="useravatar" src="{{ url_for('static', filename='images/useravatar.png') }}" alt="avatar"></a></li>
                                                <li class="flex searchlogo"><img src="{{ url_for('static', filename='images/search.svg') }}" alt="search"></li>
                                                <li class="logo-2"><a href="index.html" class="logo">gamehub</a></li>
                                                <li class="flex eng">eng <img src="{{ url_for('static', filename='images/Polygon3.svg') }}" alt="triangle"></li>
                                                <li class="burger"><a href=""></a>
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <nav class="navigation">
                        <ul class="nav-ul">
                                <li class="nav-li">{{nav_builder('navbar.categories', 'categories')}}</li>
                                <li class="nav-li">{{nav_builder('navbar.championship', 'championship')}}</li>
                                <li class="nav-li">{{nav_builder('navbar.matches', 'matches')}}</li>
                        </ul>
                        
                </nav>
        </header>

        {% block content %}

        <div>
                <div class="m-section"></div>
                <div class="nrow">
                        <section class="ncolumn">
                                
                                {% if current_user.is_authenticated%}
                                <div class="mainDiv">
                                        <form method="POST">
                                                {{form.hidden_tag()}}
                                                <div class="post-title">
                                                        {{form.submit(class="submit-button")}}
                                                        <!-- <input class="submit-button" type="submit" method="POST" value="Create a Post"> -->
                                                        <!-- <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Create a Post</a>
                                                        <p><i class="fa fa-times" aria-hidden="true"></i></p> -->
                                                </div>
                                                <div id="post-body">
                                                        <label for="pTitle">
                                                                {{form.title(class="p-Title",placeholder="Title")}}
                                                        </label>
                                                        
                                                        <div class="textarea">
                                                                {{form.text(class="textarea",placeholder="what's on you mind?")}}
                                                        </div>
                                                        
                                                        <!-- <label for="pTitle">
                                                                <input class="p-Title" type="text" placeholder="Title" name="title" >
                                                        </label>
                                                        <div class="textarea">
                                                                <textarea name="text" onkeyup="InputAdjust(this)" placeholder="what's on you mind?"></textarea>
                                                        </div> -->
                                                </div>
                                        </form>
                                </div>
                                {% endif %}

                                {% for post in posts %}
                                        {{post_builder(post)}}
                                {% endfor %}


                        </section>
                        <section class="nncolumn">

                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Tortura</p>
                                        </div>
                                        <p class="mTime">23:00 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="Zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box6">
                                        <h3>Feature match</h3>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Zappa.jpg') }}" alt="zappa">
                                                <p>Zappa</p>
                                        </div>
                                        <p class="mTime">23:30 <br> Today</p>
                                        <div class="tSpace">
                                                <img class="ticons" src="{{ url_for('static', filename='images/Tortura.jpg') }}" alt="tortura">
                                                <p>Zappa</p>
                                        </div>
                                        <div class="matchinfo"><a href="matchinfo.html"><p class="mibutton">match info</p></a></div>
                                </div>
                                <div class="box8"></div>
                                <div class="box9"></div>
                        </section>
                </div>
        </div>

        {% endblock %}

        <footer>
                <div class="footer">
                        <div class="contain">
                        <div class="col">
                                <h3>gamehub</h3>
                        </div>
                        <div class="col">
                                <h3>content</h3>
                                <ul>
                                        <a href="categories.html"><li>categories</li></a>
                                        <a href="pubg-championship.html"><li>championship</li></a>
                                        <a href="matches.html"><li>matches</li></a>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>help</h3>
                                <ul>
                                        <li>support</li>
                                        <li>FAQ</li>
                                </ul>
                        </div>
                        <div class="col">
                                <h3>company</h3>
                                <ul>
                                        <li>about</li>
                                        <li>contact us</li>
                                        <li>affilation</li>
                                        <li>plans</li>
                                </ul>
                        </div>
                        <div class="col social">
                                <h3>social media</h3>
                                <ul>
                                        <a href="www.facebook.com"><li><img src="{{ url_for('static', filename='images/Facebook.svg') }}" alt="facebook"></li></a>
                                        <a href="www.instagram.com"><li><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="instagram"></li></a>
                                        <a href="www.twitter.com"><li><img src="{{ url_for('static', filename='images/twitter.svg') }}" alt="twitter"></li></a>
                                </ul>
                        </div>
                        </div>
                </div>
                <hr>
                <div class="copyright">Copyright © 2010-2020 Freepik Company S.L. All rights reserved.</div>

        </footer>
</body>
</html>